# Ignorer les images
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Ignorer les vidéos
*.mp4
*.mov
*.avi
*.webm
*.mkv

# Ignorer les backups CSS
css/backup/

# Ignorer les fichiers macOS temporaires
.DS_Store

# Ignorer Node modules si jamais tu utilises Node
node_modules/

